node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
DOCKER.md
STYLEGUIDE.md
LICENSE
.vscode
environment/*
google-cloud-sdk-254.0.0-linux-x86_64
google-cloud-sdk
package-lock.json
